@font-face {
   font-family: "Montserrat";
   src: local("Montserrat"),
   url("../assets/fonts/Montserrat.ttf") format("woff2-variations");
}

body {
   color: #ebdbb2;
   background-color: #1d2021;
   font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 2em;
}

a {
   color: #83a598;
   margin-right: 1em;
   text-decoration: none;
}
a:hover {
   color: #8ec07c;
}
a.active {
   color: #b8bb26;
}

nav a {
   margin-right: 2em;
}

main {
   margin-top: 0.5em;
   padding: 2em;
   border: 1px solid #ebdbb29a;
   border-radius: 1em 0;
   background-color: #3c3836;
   position: relative;
   min-height: 8em;
}

button {
   background-color: #1d2021;
   border: 1px solid #928374;
   border-radius: 0.3em 0;
   color: #ebdbb2;
   cursor: pointer;
   padding: 0.5em 1em;
   margin: 1em 0;
}
button:hover {
   background-color: #3c3836;
}

dl dt {
   font-size: smaller;
   opacity: 0.6;
}
dl dd {
   margin-left: 0;
   white-space: pre-line;
}

hr {
   border: solid 0.2em #ebdbb29a;
   border-radius: 0.2em;
   height: 0;
   margin: 1em -1em;
}

table {
   border-collapse: collapse;
   width: 100%;
}
table td,
table th {
   text-align: left;
   vertical-align: top;
}
table th {
   font-size: smaller;
   opacity: 0.6;
}
table.clickable tr:not(.header):hover {
   background-color: #ebdbb2;
   cursor: pointer;
}

label {
   font-size: smaller;
   opacity: 0.6;
}

pre {
   overflow: auto;
}

details summary {
   cursor: pointer;
   display: inline;
   outline: none;
}
details summary:focus-visible {
   outline: auto;
}
details p,
details pre {
   background-color: #1d2021;
   border: 1px solid #ebdbb29a;
   border-radius: 0.3em 0;
   padding: 0.5em;
}
details p {
}
details pre {
   white-space: pre-wrap;
   word-wrap: break-word;
}

.wrapping-row {
   display: flex;
   flex-basis: 0;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 2em;
}
.wrapping-row > * {
   flex-grow: 1;
}

@media all and (max-width: 30em) {
   body {
      margin: 0.5em;
   }

   main {
      padding: 1em 0.5em;
   }

   hr {
      margin: 1em 0;
   }

   .wrapping-row {
      column-gap: 1em;
   }
}

/* ============================ Loading spinner ============================= */

#loading {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: #3c383688;
   border-radius: 1em 0;
}
#loading #spinner {
   position: absolute;
   left: calc(50% - 2em);
   top: calc(50% - 2em);
   height: 4em;
   width: 4em;
   margin: 0 auto;
   animation: rotation .6s infinite linear;
   border-left: 6px solid #83a59826;
   border-right: 6px solid #83a59826;
   border-bottom: 6px solid #83a59826;
   border-top: 6px solid #83a598cd;
   border-radius: 100%;
}
@keyframes rotation {
   from { transform: rotate(0deg); }
   to { transform: rotate(359deg); }
}

/* =============================== Waypoints ================================ */

#floating-waypoint {
   min-width: 20em;
   position: absolute;
   z-index: 1
}
.waypoint {
   background-color: #3c3836;
   padding: 0.5em;
   border: 1px solid #ebdbb29a;
   border-radius: 0.5em 0;
}
#floating-waypoint .waypoint h3 {
   margin-top: 0;
}
#floating-waypoint hr {
   border: 0;
   border-top: 1px solid #ebdbb29a;
   margin: 0.5em -0.5em;
}
